@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

/* .center-text {
  position: absolute;
  top: 48.5%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* HEADER */

header {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* CARD */

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem;
}

.card__side {
  height: 40rem;
  width: 50rem;
  color: #000;
  z-index: 1;
  position: absolute;
  top: 0;
  left: -25rem;
  backface-visibility: hidden;
  transition: all 0.8s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.card__side--front {
}
.card__side--back {
  transform: rotateY(180deg);
}

.card:hover .card__side--front {
  transform: rotateY(180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}

/* LOGIN FORM */

/* LOGIN FORM */

.login {
  width: 30rem;
  height: 35rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 10rem;

  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.login-input {
  padding: 1rem;
  padding-right: 4rem;
  margin-bottom: 3rem;
  border: 1px solid #cacaca;
  border-radius: 0.5rem;
}

.login-input:focus {
  outline: none;
}

.login-btn {
  display: inline-block;
  padding: 0.8rem 8rem;
  margin-bottom: 3rem;
  color: #fff;
}

.login-p {
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
}

/* REGISTER FORM */

.register {
  width: 30rem;
  height: 45rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 6rem;

  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.register-input {
  padding: 1rem;
  padding-right: 4rem;
  margin-bottom: 2.5rem;
  border: 1px solid #cacaca;
  border-radius: 0.5rem;
}

.register-input:focus {
  outline: none;
}

/* ALL CARDS TABLE */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
